{% extends 'setup/setup_base.html' %}
{% load crispy_forms_tags %}

{% block setup_title %}
    {% if object %}
        Edit {{ model_verbose_name|title }}
    {% else %}
        Create New {{ model_verbose_name|title }}
    {% endif %}
{% endblock %}

{% block setup_content %}
{% with list_url_name="setup:"|add:model_name_singular|add:"_list" %}
<div class="row justify-content-center">
    <div class="col-md-9 col-lg-7">
        <div class="setup-card form-card-large p-4">
            <h4 class="fw-bold mb-4" style="color: var(--primary-dark);">
                {% if object %}
                    Editing: <span class="text-info">{{ object }}</span>
                {% else %}
                    Enter {{ model_verbose_name|title }} Details
                {% endif %}
            </h4>
            
            <form method="post">
                {% csrf_token %}
                {# Crispy form rendering handles the fields and the primary Save button #}
                {{ form|crispy }}
            </form>
        </div>
        
        <div class="d-flex justify-content-start mt-3">
            <a href="{% url list_url_name %}" class="btn btn-secondary">
                <i class="fas fa-list"></i> Back to {{ model_verbose_name|title }} List
            </a>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}
